/node_modules
/src
/examples
/.devcontainer
/.vscode

*.spec.ts
*.spec.js
*.spec.d.ts
*.spec.d.ts.map
*.spec.js.map

/src/**/*.ts

tsconfig.json
tsconfig.test.json
jest.config.js
tsconfig.tsbuildinfo
tsup.config.ts
biome.json
jest.config.mjs